include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
recursive-include docs *
recursive-include shortwave/fixtures *
recursive-include shortwave/locale *
recursive-include shortwave/templates *
